raw_data/
*.npy
.env
*.npy
seg_UNET_baseline/model_glioma_seg_nii_UNET_baseline/
model_glioma_flair_nii_3dUnet/
model_glioma_t1ce_nii_3dUnet/
model_life_exp_UNET_seg/model_life_exp_seg_nii_3dUnet/
model_life_exp_binary_UNET_seg/model_life_exp_binary_seg_nii_3dUnet/
model_life_exp_binary_UNET_t1/model_life_exp_binary_seg_nii_3dUnet/
model_life_exp_reg_UNET_t1/model_life_exp_reg_seg_nii_3dUnet/
